.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  width: 73.125em;
  margin: 0px auto;
}

.logo {
  float: left;
  padding-top: 23px;
}
.burger-menu {
  float: right;
  padding: 35px 0px;
}
.nav-container {
  float: right;
}
nav {
  float: left;
}
nav ul li {
  float: left;
}
.cart-login {
  float: right;
}
.cart-login ul li {
  float: left;
}

.page-heading {
  width: 830px;
  margin: 0px auto;
}

/* Filter By */
.products-wrapper {
  padding-top: 20px;
}
.nav-filter {
  float: none;
}
.nav-filter ul li a {
  float: left;
  padding: 0px;
  border-radius: 4px;
}
.nav-filter ul li a:hover {
  color: #ffffff;
}

/* Products Cart Wrapper */
.products-cart-wrapper {
  padding-top: 60px;
}
.cart-container {
  width: 370px;
  background-color: #ffffff;
  border-radius: 10px;
}
.back-box {
  background-image: url("../images/item1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 280px;
}
.seller-name {
  float: left;
  padding-top: 7px;
}
.seller-name figure {
  float: left;
  padding-right: 8px;
}
.price {
  float: right;
  padding: 7px 11px;
  background-color: #f1f5f8;
  border-radius: 4px;
}
