.main-wrapper {
  background-color: #f1f5f8;
  min-width: 1170px;
}
.header-nav-wrapper {
  background-image: url("../images/bg-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 73.125em;
}

.burger-menu {
  display: none;
}
.nav-container {
  line-height: 100px;
}
nav ul li a {
  text-align: center;
  padding: 15px 22px;
}
nav ul li:last-child {
  padding-right: 25px;
}
nav ul li a:hover {
  background-color: #2f8be6;
  border-radius: 4px;
}

.cart-login ul li {
  padding: 0px 10px;
}
.cart-login ul li:first-child {
  background-image: url("../images/separator.png");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 35px;
}
.cart-login ul li:last-child {
  padding-left: 25px;
  padding-right: 0px;
}
.quantity {
  border: 1px solid #676b6d;
  border-radius: 20px;
  background-color: #676b6d;
  padding: 0px 3px;
  font-size: small;
}
.link-active {
  background-color: #2f8be6;
  border-radius: 4px;
  padding: 15px 26px;
}
.logo-nav-container {
  background-image: url("../images/hr-nav.png");
  background-repeat: repeat-x;
  background-position: bottom;
}

.page-heading {
  text-align: center;
}
.page-heading h1 {
  font-size: 62px;
  color: #ffffff;
  padding-top: 116px;
  line-height: 76px;
  font-weight: 400;
}
.page-heading p {
  color: #dae1e7;
  padding-top: 33px;
  font-size: 20px;
}
.desc-btns ul {
  padding-top: 41px;
  display: inline-block;
}
.desc-btns ul li {
  float: left;
  font-size: 18px;
}
.desc-btns ul li:first-child {
  padding-right: 15px;
}
.desc-btns ul li a {
  padding: 23px 26px;
  background-color: #86919d;
  border-radius: 4px;
}
.desc-btns ul li a:hover {
  background-color: #2f8be6;
  border-radius: 4px;
}
.desc-btns {
  padding-bottom: 117px;
}
.input-search-wrapper form {
  background-color: #ffffff;
  margin-top: -40px;
  border-radius: 4px;
}
.input-search-wrapper form select {
  background-color: #ffffff;
  border-top-left-radius: 4px;
}
.input-search-wrapper form select,
input {
  padding: 30px;
  font-size: 16px;
  color: #9c9c9c;
  border: none;
}
.input-search-wrapper form input[type="text"] {
  width: 73%;
  box-sizing: border-box;
  background-image: url("../images/separator-input.png");
  background-repeat: no-repeat;
}
.input-search-wrapper form input[type="submit"] {
  background-color: #2f8be6;
  color: #ffffff;
  border-radius: 0px 4px 4px 0px;
  padding: 31px 33px;
}

.input-search-wrapper .container {
  border-bottom: 1px solid #efefef;
  box-shadow: 1px 2px #efefef;
  /* border-radius: 4px; */
}

/* Filter By */
.filter-by-wrapper .container span {
  float: left;
  text-transform: uppercase;
  padding-right: 25px;
  line-height: 42px;
  color: #a2adb8;
}
.nav-filter ul li:not(:first-child) {
  margin-left: 5px;
}
.nav-filter ul li a {
  padding: 12px 15px;
  background-color: #dae1e7;
  color: #454545;
}

/* Cart Container */
.cart-container {
  box-shadow: 0px 0px 3px 0px #dae1e7;
  float: left;
  margin-right: 29px;
  margin-bottom: 30px;
}
.m-right-zero {
  margin-right: 0px;
}
.product-desc {
  padding: 0px 25px;
}
.product-desc h2 {
  font-size: 18px;
  padding-top: 30px;
}
.product-desc a {
  text-decoration: none;
  color: #212121;
}
.product-desc p {
  color: #454545;
  padding-top: 30px;
  padding-bottom: 25px;
  background-image: url("../images/hr-cart-sep.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.seller-price {
  color: #86919d;
  padding-top: 20px;
  padding-bottom: 20px;
}

.seller-price a,
.price {
  font-weight: bold;
  color: #86919d;
}
.product-desc h2 a:hover {
  border-bottom: 1px dotted blue;
  color: #2f8be6;
}

.front-box {
  background-color: rgb(33, 33, 33);
  opacity: 0.9;
  height: 280px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  /* display: none; */
}
.top-icons {
  background: #ebebeb;
  margin: 7px;
  padding: 2px;
  float: left;
  border-radius: 5px;
}
.top-icons ul li {
  float: left;
  margin-right: 10px;
}
.top-icons ul li a figure {
  display: inline-block;
  padding-right: 7px;
}
.top-icons ul li a {
  color: #212121;
}

.middle-icons {
  float: left;
  margin-top: 120px;
  position: absolute;
  margin-left: 140px;
}
.middle-icons ul li {
  float: left;
  margin: 7px;
}
.item2 {
  background-image: url("../images/item2.png");
}
.item3 {
  background-image: url("../images/item3.png");
}
.item4 {
  background-image: url("../images/item4.png");
}
.item5 {
  background-image: url("../images/item5.png");
}
.item6 {
  background-image: url("../images/item6.png");
}
.item7 {
  background-image: url("../images/item7.png");
}
.item8 {
  background-image: url("../images/item8.png");
}
.item9 {
  background-image: url("../images/item9.png");
}

/* Loading */
.hide-img img {
  visibility: hidden;
  margin-top: -26px;
}
.loading-img {
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
}

/* Pricing Plans */
.pricing-desc {
  text-align: center;
}
.pricing-desc h1 {
  font-size: 32px;
}
.pricing-desc p {
  line-height: 60px;
  color: #86919d;
  font-size: 20px;
}

/* Purchase Box Wrapper */
.purchase-box-wrapper {
  margin-top: 30px;
  padding-bottom: 100px;
}

.purchase-box {
  width: 370px;
  background: #ffffff;
  border-radius: 4px;
  margin-right: 19px;
  margin-top: 20px;
  float: left;
  padding: 52px 0px;
  position: relative;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.featured {
  /* display: none; */
  position: absolute;
  left: -5px;
  height: 35px;
  width: 152px;
  top: 20px;
  background: url("../images/recommended.png");
  background-repeat: no-repeat;
}
.recommended {
  padding: 70px 0px;
  margin-top: 0px;
}
.plan-desc {
  text-align: center;
}
.plan-desc h2 {
  font-size: 30px;
  color: #212121;
  font-weight: normal;
  line-height: 45px;
}
.plan-desc p {
  color: #86919d;
  line-height: 30px;
}

.plan-price {
  text-align: center;
  color: #2f8be6;
  position: relative;
  padding: 20px;
}
.dollor {
  vertical-align: super;
  font-size: 36px;
  font-weight: lighter;
  position: absolute;
  left: 90px;
}
.amount {
  font-size: 60px;
  font-weight: normal;
}
.period {
  font-size: 24px;
  font-weight: lighter;
}

.plans ul {
  margin: 10px 30px;
}
.plans ul li {
  padding: 16px 0px;
  border-bottom: 1px dotted #e8e8e8;
}
.plans ul li:first-child {
  padding-top: 0px;
}
.plans ul li:last-child {
  border-bottom: none;
}
.plans ul li a {
  background: url("../images/arrow-right-black.png");
  background-repeat: no-repeat;
  background-position: left;
  color: #454545;
  padding: 10px 20px;
  padding-left: 20px;
}

.purchase-btn a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  color: white;
  padding: 20px;
  background: #2f8be6;
  border-radius: 4px;
  margin: 0px 30px;
}

/* Sign Up Wrapper */
.sign-up-wrapper {
  padding: 100px 0px;
  text-align: center;
  background-color: #dae1e7;
}
.sign-up-wrapper h2 {
  font-size: 34px;
  font-weight: normal;
  color: #21272c;
}
.sign-up-wrapper p {
  color: #86919d;
  font-size: 20px;
  line-height: 40px;
}
.sign-up-desc {
  margin-bottom: 30px;
}
.sign-up-wrapper form p {
  font-size: 13px;
}
.sign-up-wrapper input {
  padding: 25px 15px;
}
.sign-up-wrapper input[type="text"] {
  width: 460px;
  border-radius: 4px 0px 0px 4px;
}
.sign-up-wrapper input[type="submit"] {
  padding: 24px;
  background: #a2adb8;
  font-size: 18px;
  color: white;
  border-radius: 0px 4px 4px 0px;
  margin-left: -4px;
}
