.main-wrapper {
  background-color: #f1f5f8;
  min-width: 1170px;
}
.header-nav-wrapper {
  background-image: url("../images/bg-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 73.125em;
}

.burger-menu {
  display: none;
}
.nav-container {
  line-height: 100px;
}
nav ul li a {
  text-align: center;
  padding: 15px 22px;
}
nav ul li:last-child {
  padding-right: 25px;
}
nav ul li a:hover {
  background-color: #2f8be6;
  border-radius: 4px;
}

.cart-login ul li {
  padding: 0px 10px;
}
.cart-login ul li:first-child {
  background-image: url("../images/separator.png");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 35px;
}
.cart-login ul li:last-child {
  padding-left: 25px;
  padding-right: 0px;
}
.quantity {
  border: 1px solid #676b6d;
  border-radius: 20px;
  background-color: #676b6d;
  padding: 0px 3px;
  font-size: small;
}
.link-active {
  background-color: #2f8be6;
  border-radius: 4px;
  padding: 15px 26px;
}
.logo-nav-container {
  background-image: url("../images/hr-nav.png");
  background-repeat: repeat-x;
  background-position: bottom;
}

.page-heading {
  text-align: center;
}
.page-heading h1 {
  font-size: 62px;
  color: #ffffff;
  padding-top: 116px;
  line-height: 76px;
  font-weight: 400;
}
.page-heading p {
  color: #dae1e7;
  padding-top: 33px;
  font-size: 20px;
}
.desc-btns ul {
  padding-top: 41px;
  display: inline-block;
}
.desc-btns ul li {
  float: left;
  font-size: 18px;
}
.desc-btns ul li:first-child {
  padding-right: 15px;
}
.desc-btns ul li a {
  padding: 23px 26px;
  background-color: #86919d;
  border-radius: 4px;
}
.desc-btns ul li a:hover {
  background-color: #2f8be6;
  border-radius: 4px;
}
.desc-btns {
  padding-bottom: 117px;
}
.form {
  background-color: #ffffff;
}
form select,
input {
  padding: 30px;
  font-size: 16px;
  color: #9c9c9c;
  background: #ffffff;
  border: none;
}
form input[type="text"] {
  width: 73%;
  box-sizing: border-box;
  background-image: url("../images/separator-input.png");
  background-repeat: no-repeat;
}
form input[type="submit"] {
  background-color: #2f8be6;
  color: #ffffff;
  border-radius: 4px;
}
form {
  margin-top: -35px;
}
.input-search-wrapper .container {
  border-bottom: 1px solid #efefef;
  box-shadow: 1px 2px #efefef;
  background-color: #ffffff;
  border-radius: 4px;
}

/* Filter By */
.filter-by-wrapper .container span {
  float: left;
  text-transform: uppercase;
  padding-right: 25px;
  line-height: 42px;
  color: #a2adb8;
}
.nav-filter ul li:not(:first-child) {
  margin-left: 5px;
}
.nav-filter ul li a {
  padding: 12px 15px;
  background-color: #dae1e7;
  color: #454545;
}

/* Cart Container */
.cart-container {
  box-shadow: 0px 0px 3px 0px #dae1e7;
}
.product-desc {
  padding: 0px 25px;
}
.product-desc h2 {
  font-size: 18px;
  padding-top: 30px;
}
.product-desc a {
  text-decoration: none;
  color: #212121;
}
.product-desc p {
  color: #454545;
  padding-top: 30px;
  padding-bottom: 25px;
  background-image: url("../images/hr-cart-sep.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.seller-price {
  padding-top: 20px;
  padding-bottom: 20px;
}

.seller-name span {
  color: #86919d;
}
