/* Header */
.logo-nav-container {
  line-height: 80px;
}
.nav-container ul li {
  list-style: none;
}
.nav-container ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f6ffff;
  padding: 15px 20px;
}

.nav-container ul li:not(:last-child) a:hover {
  background-color: #61a29e;
}
.title-triangle {
  background-color: #f3f3f3;
}
.title-container {
  color: #7f8585;
}
.page-title-container {
  text-transform: uppercase;
  font-size: 24px;
}

.breadcrumbs-container ul li {
  list-style: none;
  padding-right: 10px;
}
.breadcrumbs-container ul li:last-child {
  padding-right: 0px;
}
.breadcrumbs-container ul li a {
  text-decoration: none;
  color: #7f8585;
}
.breadcrumbs-container ul li a:hover {
  text-decoration: underline;
}

/* Main Body */

/* Footer  */
.footer-container * {
  color: white;
}

.footer-top-wrapper {
  background: url("../images/footer-background.png");
  background-repeat: repeat-x;
}

.footer-bottom-wrapper {
  background: #6bb4ad;
}

.footer-top-content {
  padding-top: 40px;
}

.footer-tollens {
  width: 375px;
  float: left;
}

.footer-tollens p,
.footer-tollens ul li,
.footer-tollens ul li span {
  color: white;
}

.footer-tollens ul {
  padding-top: 20px;
}

.footer-tollens ul li span {
  padding-left: 10px;
  font-size: 16px;
}

.footer-col-middle {
  width: 150px;
  float: left;
  margin-left: 40px;
}

.footer-block ul {
  padding-top: 25px;
}

.white-arrow {
  padding-left: 20px;
  line-height: 25px;
  background: url("../images/white-arrow.png");
  background-position: left;
  background-repeat: no-repeat;
}

.in-blog p {
  float: right;
  padding-left: 17px;
  width: 300px;
}

.dark {
  color: #4a7875;
}

.blog-header h2 {
  font-style: italic;
}

.blog-header h2 span {
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.in-blog span {
  color: #4a7875;
}

.right ul li {
  display: inline-block;
  padding-left: 25px;
}

.logo-wrapper {
  padding-bottom: 20px;
}
.footer-top-content ul li {
  list-style: none;
}
.footer-tollens ul li span {
  font-size: 16px;
  font-style: italic;
}
.footer-top-content ul li a {
  text-decoration: none;
}
