.app {
	background-color: lightgray;
	position: relative;
	margin: 20px auto;
	border: 2px solid red;
	height: 500px;
	width: 600px;
}

.BoxStyle {
	border-radius: 50%;
	position: absolute;
}

.score-board {
	/* margin: 0px auto; */
	text-align: center;
	padding: 30px;
	color: white;
	font-size: 25px;
	background-color: brown;
}
